@model IEnumerable<BizConnect.Data.Entities.Invoice>

@{
    ViewBag.Title = "Invoices";
}

<h2>Invoices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Invoice", new { id=item.Id }) |
            @Html.ActionLink("Details", "Invoice", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Invoice", new { id=item.Id })
        </td>
    </tr>
}

</table>
