@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<div>
    <p>@Html.ActionLink("Layout", "Index", "Layout")</p>
    <p>@Html.ActionLink("Invoice", "Index", "Invoice")</p>
    <p>@Html.ActionLink("Employees", "Index", "Employee")</p>
    <p>@Html.ActionLink("Companies", "Index", "Company")</p>
</div>

