@{
    ViewBag.Title = "Create Layout";
}

@section styles
{
    <link href="@Url.Content("/Content/themes/base/jquery.ui.resizable.css")" rel="stylesheet" type="text/css" />
    
    <style type="text/css">
        #Layout .wrapper
        {
            padding: 7px;
            border: 2px solid blue;
            margin: 10px
        }
    </style>
}


<h2>Drag and Drop</h2>

<div id="dropElements">
    <ol>
        <li><input data-type="nvarchar(50)" class="text" type="text"  value="Text" readonly = "readonly" /></li>
        <li><input data-type="char(10)" class="phonenumber" type="text" value="000-000-0000" readonly = "readonly" /></li>
        <li><input data-type="nvarchar(50)" class="email" type="text" value="xxxxx@xxxx" readonly = "readonly" /></li>
        <li><input data-type="datetime" class="date" type="text" value="MM/DD/YYYY" readonly = "readonly" /></li>
        <li><input data-type="decimal(19,2)" class="currency" type="text" value="$00.00" readonly = "readonly" /></li>
        <li><input data-type="int" class="number" type="text" value="12345" readonly = "readonly" /></li>
        <li><input data-type="bit" class="boolean" type ="checkbox" value="checkbox" readonly = "readonly"/></li>
        <li><input data-type ="table" class="table" type="table" value="table"/></li>
    </ol>
</div>

<label>Layout Name:</label>
<input id="layoutName" value=""/> <br />

<div id="message"></div><br />

<div id="Layout" style="width: auto; height: 800px; border: 1px solid;">
    <div id="default" class="default">
        <br/><br/>
       @* 
       THIS WILL BE THE COMPANY INFO DEPENDING IN WHAT ARE LOG IN
       <div id="client">
            <span id="NameClient" class="wrapper"><input class="text" value="Name" readonly="readonly"/></span>
            <span id="Address" class="wrapper"><input class="text" value="Address" readonly="readonly" /></span>
            <span id="Phone" class="wrapper"><input class="phonenumber" value = "Phone Number" readonly = "readonly" /></span>
            <span id="Email" class="wrapper"><input class="email" value = "Email" readonly = "readonly" /></span>
            <span id="Birthday" class="wrapper"><input class="date" value = "Birthday" readonly = "readonly" /></span>
            <span id="Total" class="wrapper"><label>$0.00</label></span><br/><br/><br/>
        </div>*@
        <div id="Data" class="wrapper">
            <table>
                <tr>
                    <th>Description</th>
                    <th>Labor</th>
                    <th>TAX</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td><input name="description" value = ""/></td>
                    <td><input name="labor" value=""/></td>
                    <td><input name="tax" value=""/></td>
                    <td><input name="subtotal" value="" /></td>
                </tr>
                <tr>
                    <td><input name="description" value = ""/></td>
                    <td><input name="labor" value=""/></td>
                    <td><input name="tax" value=""/></td>
                    <td><input name="subtotal" value="" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="Trashcan" style="width: 100px; height: 100px; border: 1px solid;"></div>
<button id="Save">Save Layout</button>
<button id="Reset">Reset</button>

@section scripts
{
    <script src="@Url.Content("/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/jquery-ui-1.8.17.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
    
    $(function () {

        //Save Layout Button
        $("#Save").click(function () {
            var columns = $('#Layout').children(':not(.default)').find(':input').map(function () { return $(this).val(); }).get();
            var type = $('#Layout').children(':not(.default)').find(':input').map(function () { return $(this).data("type"); }).get();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Create")",
                data: 
                { name: $("#layoutName").val(), 
                Layout: $("#Layout").html(),
                    colName: columns, 
                    colType: type
                    },
                success: function (data) { $("#message").html(data.message); $('html').scrollTop(0); },
                traditional: true
                            
            });        
        });


        //                    .each(function()
//                  {
//                    elements.push
//                    ({  
//                        ElementId: 0,
//                        Name: $(this).val(), 
//                        XPosition: $(':parent .wrapper').position().left,
//                        YPosition: $(':parent .wrapper').position().top,
//                        Width: $(this).width(), 
//                        Height: $(this).height(),
//                        Type: null
//                    });
//                 });
        

        //                $.post("@Url.Action("Create", "Layout")",elements,function(data) {
//                        $("#message").html(data.message);
//                        $('html').scrollTop(0);
//                    }
//            );
                



        //Reset Button 
        $("#Reset").click(function () {
            $('#Layout').children(':not(.default)').remove(); //Layout
            $("#Name").val("");
        });

        //Makes draggable the buttons 
        $("#dropElements li *").draggable({ helper: 'clone', cancel: null });

        //Trashcan
        $('#Trashcan').droppable({
            accept: '#Layout *',
            drop: function (event, ui) {
                ui.draggable.remove();

            }
        });

        //default textboxes draggable and span fit
        $("#default").children("span").each(function () {
            $(this).draggable({ containment: '#Layout', cancel: null }).width($(this).children().outerWidth());
        });

        //default Table draggable
        $("#Data").draggable({ containment: '#Layout' }).width(function () { return $(this).children().outerWidth(); });

        //Drop 
        $("#Layout").droppable({
            accept: '#dropElements li *',
            drop: function (event, ui) {

                var e = ui.draggable.clone();

                $(e).removeAttr("readonly")
                //.dblclick(function () { $(this).focus(); })
                // .resizable({ minWidth: $(this).width(), minHeight: $(this).height() })
                ;

                var wrapper = $('<div class="wrapper" />').css({ position: "relative" })
                .draggable()
                .append(e)
                .width(function () { return $(this).children().outerWidth(); });

                $("#Layout").append(wrapper);

                var pleft = (ui.offset.left - $(this).offset().left);
                var ptop = (ui.offset.top - $(this).offset().top);

                if (pleft < 0)
                    pleft = 0;

                else if (($(wrapper).outerWidth() + pleft) > $(this).outerWidth())
                    pleft = ($(this).outerWidth() - $(wrapper).outerWidth());

                if (ptop < 0)
                    ptop = 0;

                else if (($(wrapper).outerHeight() + ptop) > $(this).outerHeight())
                    ptop = ($(this).outerHeight() - $(wrapper).outerHeight());


                $(wrapper).position({
                    my: 'left top',
                    at: 'left top',
                    of: $(this),
                    collision: 'fit',
                    offset: pleft + " " + ptop

                });

                //resizable
                $(e).resizable(
                {
                    minWidth: $(e).width(),
                    minHeight: $(e).height(),
                    resize: function ()
                    { $(wrapper).width($(this).outerWidth()); }
                }).change(function (){
                    $(this).attr("name", $(this).val());
                    $(this).attr("value", $(this).val());
                });

            }
        });

    });
</script>

}