@model IEnumerable<BizConnect.Data.Entities.Layout>

@{
    ViewBag.Title = "Index";
}
@section styles
{
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="index">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.LayoutId }) |
                @Html.ActionLink("Details", "Details", new { id=item.LayoutId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.LayoutId })
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $('#index').dataTable({
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [1] }
                ],
                "bRetrieve": true
            });
        });
    </script>
}
